<!DOCTYPE>
{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}
{{title}} Поиск :: {{ block.super}}
{% endblock %}

{% block content %}
<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                        <div class="blog-area">
                            <br>
                            <div class="blog-area-part">
                                {% for item in posts %}
                                <div class="col-md-4">
                                    <div class="single-post">
                                        {% if item.photo %}
                                        <img src="{{ item.photo.url }}" alt="{{ item.title }}">
                                        {% else %}
                                        <img src="https://picsum.photos/300/201/?blur" alt="{{ item.title }} ">
                                        {% endif %}
                                        <h5 style="text-align:center"><a href="{{ item.get_absolute_url }}">
                                            {{ item.title }}</a></h5>
                                        <h6 style="text-align:center"><span>Автор:<span class="author-name"><b>{{ item.author }}</b></span></span>
                                        </h6>
                                        <h6 style="text-align:center"><span>{{ item.created_at|date:"d E Y" }}</span>
                                        </h6>
                                    </div>
                                </div>
{% empty %}
<h3>По вашему запросу ничего не найдено</h3>
{% endfor %}

                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="newsletter">
                            <h2 class="sidebar-title"><b>Поиск</b></h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" placeholder="Введите текст...">
                                <input type="submit" value="Найти">
                            </form>
                        </div>
                        {% get_popular %}
                    </div>
                    <div>
                        {% get_tag %}
                    </div>
                <div class="newsletter">
    <h2 class="sidebar-title"><b>Подпишитесь на наши новости</b></h2>
    <form action="{% url 'add_subscribe' %}" method="post">
        {% csrf_token %}

        <input type="email" name="email" placeholder="Email" autocomplete="off">
        <input type="submit" value="Подписаться">
    </form>
</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-post-area">
    {% include 'inc/_pagination.html' %}
</section>
{% endblock %}